/*

+++++++++++++++++++++++++++++++++++++++++++++
name:     Blaake for what.cd
version:  1.0 superwide -- Sep 29 2011
+++++++++++++++++++++++++++++++++++++++++++++
author:   rusak
contact:  rusak@feralhosting.com
+++++++++++++++++++++++++++++++++++++++++++++

some icons by devertex, used by permission

dropdown: idea -- karlbright

sensitive area in header / ghost searchbar: idea -- devertex

please do not remove this notice

*/

@import url(blaake.css);
@import url(superwide.css);
@import url(visisearch.css);
#searchbar_log{display: inherit !important}

/*

that's all :)

*/
