*, *:before, *:after {
	padding:0;
	margin:0;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

html,body {
width:100%;
}

body {
color:#555;
font-size:8pt;
min-width:850px;
font-family:"Lucida Sans Unicode","Lucida Grande","Trebuchet MS",Helvetica,Tahoma,Arial,sans-serif;
background:url("images/index.png") #e1e1e1;
}

#header {
margin:0 auto;
}

#footer {
overflow:hidden;
}

#content {
margin:0 auto;
padding:20px;
width:95%;
max-width:1100px;
overflow:hidden;
min-height:700px;
background:#eee;
-moz-box-shadow:0 0 20px #999;
-webkit-box-shadow:0 0 20px #999;
box-shadow:0 0 20px #999;
top: 0px;
}

#footer {
margin:40px auto 0;
padding:1em 0 4em;
width:100%;
max-width:1100px;
color:#555;
text-align:center;
}

#footer a {
padding-bottom:2px;
border-bottom:1px dotted #aaa;
color:#836846;
text-decoration:none;
}

#header {
height:130px;
overflow:visible;
position:relative;
z-index:999;
width:100%;
border-top:5px solid #ddd;
-moz-box-shadow:0 0 20px #999;
-webkit-box-shadow:0 0 20px #999;
box-shadow:0 0 20px #999;
background:#fff;
background:-moz-linear-gradient(top,rgba(255,255,255,1)0%,rgba(229,229,229,1)100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,1)),color-stop(100%,rgba(229,229,229,1)));
background:-webkit-linear-gradient(top,rgba(255,255,255,1)0%,rgba(229,229,229,1)100%);
background:-o-linear-gradient(top,rgba(255,255,255,1)0%,rgba(229,229,229,1)100%);
background:-ms-linear-gradient(top,rgba(255,255,255,1)0%,rgba(229,229,229,1)100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e5e5e5',GradientType=0);
background:linear-gradient(top,rgba(255,255,255,1)0%,rgba(229,229,229,1)100%);
}

#header ul li {
list-style:none;
}

#header a {
color:#b7b7b7;
}

#header a:hover,#header a:active,#header a:link,#header a:focus {
text-decoration:none;
color:#b7b7b7;
}

#header a:hover {
color:#777;
}

#header a.username {
color:#836846!important;
font-weight:700;
}

#header a.username:active,#header a.username:link,#header a.username:focus {
color:#777;
}

#header a.username:hover {
color:#000;
}

.site-logo {
display:none;
}

*html .site-logo {
overflow-x:hidden;
}

.site-logo a:active,.site-logo a:focus {
outline:0;
}

#userinfo {
display:inline;
margin-right:0;
width:100%;
font-size:11px;
float:none;
position:absolute;
left:0;
top:10px;
background: none;
text-align:left;
	
}

*html #userinfo {
overflow-x:hidden;
}

.main-menu {
display:block;
float:left;
margin-right:0;
width:auto;
}

*html .main-menu {
overflow-x:hidden;
}

#searchbar_log,
#searchbar_collections {
	display:none;
}

.search-bar {
display:inline;
float:left;
margin-right:0;
width:auto;
height:57px;
overflow:visible;
position:absolute;
top:42px;
left:244px;
background: none;
}

*html .search-bar {
overflow-x:hidden;
}

.search-bar form ul {
background:#fff;
margin-left:2px;
padding:10px;
width:130px;
z-index:999;
-moz-box-shadow:#ccc 0 1px 4px 0;
-webkit-box-shadow:#ccc 0 1px 4px 0;
-o-box-shadow:#ccc 0 1px 4px 0;
box-shadow:#ccc 0 1px 4px 0;
}

.search-bar form ul li {
cursor:pointer;
display:block;
float:none;
padding:0 5px;
}

.search-bar ul li {
display:inline;
float:left;
margin:0 17px 0 0;
}

.search-bar ul li:last-child {
margin-right:0;
}

.search-bar form {
width:142px;
}

.search-bar input {
width:100%;
background:0 0;
color:#ccc;
padding:5px;
font-size:12px;
font-family:"Lucida Sans Unicode","Lucida Sans","Lucida Grande","PT Sans Caption","Trebuchet MS",Helvetica,Arial,sans-serif;
}

.search-bar input:hover {
color:#777!important;
background: none;
}

.search-bar input:focus {
color:#777!important;
background:#f8f8f8;
font-style:normal;
}

.search-bar li.search-bar_log {
display:none;
}

.search-bar ul#artistcomplete {
padding:0;
background:#ddd;
position:absolute;
top:29px;
width:200px;
font-size:8pt;
}

.search-bar ul#artistcomplete li {
padding:10px;
margin:0;
background:#eee;
}

.search-bar ul#artistcomplete li:hover,.search-bar ul#artistcomplete li.highlight {
background:#eef3f9;
cursor:pointer;
}

#userinfo_username,#userinfo_major,#userinfo_minor {
float:left;
width:110px;
top:-10px;
}

#userinfo_username li,#userinfo_major li,#userinfo_minor li {
font-size:11px;
display: block;
}

.alert-bars {
position:absolute;
top:100px;
text-align:left;
width:100%;
background:#ddd;
margin:0;
height:30px;
}

.alert-bar {
display:inline-block;
margin:7px 15px 0;
}

#header .alert-bar a {
color:#836846;
}

.alert-bar a[href*=torrents.php?action=notify]:before,.alertbar a[href*=userhistory.php?action=subscribed_collages]:before {
content:"";
display:inline-block;
width:14px;
height:12px;
margin:auto 5px auto auto;
position:relative;
top:2px;
top:0;
background-image:url(images/css3buttons_icons_light.png);
background-repeat:no-repeat;
background-position:0 -704px;
}

.alert-bar a[href*=inbox.php]:before {
top:2px;
background-position:0 -501px;
}

.alert-bar a[href*=inbox.php]:before,.alertbar a[href*=comments.php]:before {
content:"";
display:inline-block;
width:14px;
height:12px;
margin:auto 5px auto auto;
position:relative;
top:0;
background-image:url(images/css3buttons_icons_light.png);
background-repeat:no-repeat;
}

.alert-bar a[href*=comments.php]:before {
top:3px;
background-position:0 -176px;
}

.search-bar {
opacity:0;
-moz-opacity:0;
filter:alpha(opacity=0);
-webkit-transition:opacity 400ms linear 200ms;
-moz-transition:opacity 400ms linear 200ms;
-o-transition:opacity 400ms linear 200ms;
transition:opacity 400ms linear 200ms;
}

.search-bar:hover {
opacity:1;
-moz-opacity:1;
filter:alpha(opacity=100);
}

.main-menu__item#nav_index {
display:none;
}

#userinfo_stats {
font-size:11px;
position:absolute;
right:0;
text-align:right;
top:0;
width: 130px;
}

#userinfo_stats li {
margin-top:1px!important;
margin-bottom:0!important;
}

.main-menu {
position:absolute;
top:14px;
left:244px;
text-align:left;
background: none;
}

.main-menu__link:hover {
	background: none;
}

.main-menu__item {
display:inline;
font-size:12px;
font-weight:lighter;
margin:0 47px 0 0;
}

.main-menu li a {
color:#777 !important;
font-weight:700;
}

.main-menu li a:active,.main-menu li a:link,.main-menu li a:focus {
color:#777;
}

.main-menu li a:hover {
color:#444;
}

.my_reqBuffer {
top:0;
}

.my_reqBuffer,.my_demBuffer {
color:#b7b7b7;
position:absolute;
right:135px;
width:130px;
text-align:left;
}

.my_demBuffer {
top:1.6em;
}


div.alert.alert--warning.text--center {
font-size:20pt;
color:#555;
text-align:center;
padding:30px;
margin:20px 0;
background:#e8f2eb;
-moz-box-shadow:0 0 5px #999;
-webkit-box-shadow:0 0 5px #999;
box-shadow:0 0 5px #999;
}

#header ul#userinfo_minor {
background:url(images/userinfo_minor_icon.png) no-repeat right top #eef3f9;
display:block;
height:30px;
width:31px;
overflow:hidden;
position:absolute;
right:15px;
top:90px;
z-index:1000;
}

#header ul#userinfo_minor:hover {
box-shadow:1px 1px 1px #ccc;
-moz-box-shadow:1px 1px 1px #ccc;
-webkit-box-shadow:1px 1px 1px #ccc;
cursor:pointer;
background-position:right -30px;
height:auto;
padding-top:30px;
width:150px;
background-color:transparent!important;
}

#header ul#userinfo_minor li {
display:none;
position:relative;
z-index:5;
margin:0!important;
}

#header ul#userinfo_minor:hover li {
background:#ddd;
border:0 solid #fff;
display:block;
margin-top:-1px;
}

#header ul#userinfo_minor li:first-child {
border-top:0;
}

#header ul#userinfo_minor li a {
color:#555;
display:block;
font-weight:400;
padding:10px;
text-decoration:none;
position:relative;
}

#header ul#userinfo_minor li a.new-subscriptions,#header ul#userinfo_minor li a.new-subscriptions:hover {
color:#d10042;
}

#header ul#userinfo_minor li a:active {
background:#fee;
top:1px;
}

#header ul#userinfo_minor li a:hover {
background:#eef3f9;
color:#555;
border-bottom:none;
}

#header ul#userinfo_minor .user-info-bar__link--highlighted,
#header ul#userinfo_minor.user-info-bar__list--has-highlighted-item {
background-color:#f9e5f0;
}

#header ul#userinfo_stats li#stats_required,#header ul#userinfo_stats li.my_debt {
display:none;
}

.alert-bar:first-of-type {
margin-left:175px!important;
}

img[src*="static/common/avatars/default.png"]{
	background:url("images/default.png") 0 0 #E6E6E6;
	padding-left:150px;
	padding-top:150px;
	width:0;
	opacity:1
}

#footer:after {
content:"Thanks for using it.";
text-transform:uppercase;
font-size:10px;
font-style:italic;
color:#b3b3b3;
-moz-text-shadow:1px 1px 0 #eee;
-webkit-text-shadow:1px 1px 0 #eee;
text-shadow:1px 1px 0 #eee;
background:url(images/bleeke-logo.png) no-repeat center 0;
display:block;
width:500px;
padding:25px 5px 5px;
margin:10px auto;
}

.site-logo,.site-logo a {
display:block;
}

.site-logo {
	height: 0px;
	width: 0px;
	background: none;
}

.site-logo a{
position:absolute;
left:15px;
top:83px;
z-index:5000;
width:130px;
height:46px;
background:url("images/ptp-logo-light.png") no-repeat;
background-size:90%;
background-position:left 3px;
-webkit-transition:all 200ms linear;
-moz-transition:all 200ms linear;
-o-transition:all 200ms linear;
transition:all 200ms linear;
}

.site-logo a:hover {
border-bottom:none;
-moz-transform:scale(1.07);
-webkit-transform:scale(1.07);
-o-transform:scale(1.07);
}

#footer strong {
margin-left:20px;
}